################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/gxo/studio/Debug
/gxo/Release
/gxo/ptr_deleter/Release
/gxo/ptr_deleter/Debug
/gxo/model_to_gltf/Debug
/gxo/gxo/Debug
/gxo/common/Debug
/gxo/.vs/gxo/v16
/gxo/Debug
/gxo/x64/Debug
/gxo/gxo/x64/Debug
/gxo/engine/x64/Debug
/gxo/engine/Debug/async_system.obj
/gxo/engine/Debug/vc142.pdb
/gxo/engine/Debug/vc142.idb
/gxo/engine/Debug/test_application.obj
/gxo/engine/Debug/render_system.obj
/gxo/engine/Debug/main.obj
/gxo/engine/Debug/engine.obj
/gxo/engine/Debug/engine.tlog/link.write.1.tlog
/gxo/engine/Debug/engine.tlog/link.read.1.tlog
/gxo/engine/Debug/engine.tlog/link.command.1.tlog
/gxo/engine/Debug/engine.tlog/engine.lastbuildstate
/gxo/engine/Debug/engine.tlog/CL.write.1.tlog
/gxo/engine/Debug/engine.tlog/CL.read.1.tlog
/gxo/engine/Debug/engine.tlog/CL.command.1.tlog
/gxo/3rdpart/lua/lua/Debug/print.obj
/gxo/3rdpart/lua/lua/Debug/lzio.obj
/gxo/3rdpart/lua/lua/Debug/lvm.obj
/gxo/3rdpart/lua/lua/Debug/lundump.obj
/gxo/3rdpart/lua/lua/Debug/lua.pdb
/gxo/3rdpart/lua/lua/Debug/lua.idb
/gxo/3rdpart/lua/lua/Debug/ltm.obj
/gxo/3rdpart/lua/lua/Debug/ltablib.obj
/gxo/3rdpart/lua/lua/Debug/ltable.obj
/gxo/3rdpart/lua/lua/Debug/lstrlib.obj
/gxo/3rdpart/lua/lua/Debug/lstring.obj
/gxo/3rdpart/lua/lua/Debug/lstate.obj
/gxo/3rdpart/lua/lua/Debug/lparser.obj
/gxo/3rdpart/lua/lua/Debug/loslib.obj
/gxo/3rdpart/lua/lua/Debug/lopcodes.obj
/gxo/3rdpart/lua/lua/Debug/lobject.obj
/gxo/3rdpart/lua/lua/Debug/loadlib.obj
/gxo/3rdpart/lua/lua/Debug/lmem.obj
/gxo/3rdpart/lua/lua/Debug/lmathlib.obj
/gxo/3rdpart/lua/lua/Debug/llex.obj
/gxo/3rdpart/lua/lua/Debug/liolib.obj
/gxo/3rdpart/lua/lua/Debug/linit.obj
/gxo/3rdpart/lua/lua/Debug/lgc.obj
/gxo/3rdpart/lua/lua/Debug/lfunc.obj
/gxo/3rdpart/lua/lua/Debug/ldump.obj
/gxo/3rdpart/lua/lua/Debug/ldo.obj
/gxo/3rdpart/lua/lua/Debug/ldebug.obj
/gxo/3rdpart/lua/lua/Debug/ldblib.obj
/gxo/3rdpart/lua/lua/Debug/lcode.obj
/gxo/3rdpart/lua/lua/Debug/lbaselib.obj
/gxo/3rdpart/lua/lua/Debug/lauxlib.obj
/gxo/3rdpart/lua/lua/Debug/lapi.obj
/gxo/3rdpart/lua/lua/Debug/lua.tlog/lua.lastbuildstate
/gxo/3rdpart/lua/lua/Debug/lua.tlog/Lib.command.1.tlog
/gxo/3rdpart/lua/lua/Debug/lua.tlog/Lib-link.write.1.tlog
/gxo/3rdpart/lua/lua/Debug/lua.tlog/Lib-link.read.1.tlog
/gxo/3rdpart/lua/lua/Debug/lua.tlog/CL.write.1.tlog
/gxo/3rdpart/lua/lua/Debug/lua.tlog/CL.read.1.tlog
/gxo/3rdpart/lua/lua/Debug/lua.tlog/CL.command.1.tlog
/gxo - 副本
/gxo/engine/Debug/nanovg.obj
/gxo/engine/Debug/ui_node.obj
*.db
*.opendb
*.log
*.log
gxo/3rdpart/lua/lua/Debug/lua.log
