################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/gxo/studio/Debug
/gxo/Release
/gxo/ptr_deleter/Release
/gxo/ptr_deleter/Debug
/gxo/model_to_gltf/Debug
/gxo/gxo/Debug
/gxo/common/Debug
/gxo/.vs/gxo/v16
/gxo/Debug
/gxo/x64/Debug
/gxo/gxo/x64/Debug
/gxo/engine/x64/Debug
